.card {
  border: 1px solid var(--light-gray);
}

.card-header-title {
  color: var(--black);
  font-size: 1.1rem;
}

.card a {
  padding: 0;
}

.views-time {
  display: flex;
  gap: 0.4rem;
  color: var(--black);
  align-items: center;
  fle-wrap: wrap;
}

.no-style-btn {
  background-color: transparent;
  border: none;
  text-decoration: underline;
  margin-left: auto;
  cursor: pointer;
}

.card-header {
  cursor: default;
}

.save-to-icon {
  font-size: 1.4rem;
  color: var(--black);
  margin-left: auto;
  cursor: pointer;
}

.video-card-title {
  text-align: left;
}

@media only screen and (max-width: 56em) {
  .video-card {
    width: 100%;
  }
  .card-img {
    width: 100%;
    height: fit-content;
  }
  .card-section p {
    font-size: 0.7rem;
    font-weight: 400;
  }
  .save-to-icon {
    font-size: 0.7rem;
  }
}

@media only screen and (max-width: 38em) {
  .video-card {
    width: 100%;
  }
  .card-img {
    width: 100%;
    height: fit-content;
  }
  .card-section p {
    font-size: 1rem;
    font-weight: 500;
  }
  .save-to-icon {
    font-size: 1rem;
  }
}
