body {
  background-color: var(--explore-bg-color);
}

.explore-page {
  display: flex;
}

.category-filter-list {
  display: flex;
  gap: 1rem;
  margin-bottom: 2rem;
  width: 70rem;
}

.category-item {
  padding: 0.4rem 1rem;
  height: 2.3rem;
  border: 1px solid var(--blue-color);
  border-radius: 18px;
  overflow: hidden;
  color: var(--blue-color);
  font-size: 0.9rem;
  cursor: pointer;
}

.active-category-item {
  padding: 0.4rem 1rem;
  height: 2.3rem;
  border: 1px solid var(--blue-color);
  border-radius: 18px;
  overflow: hidden;
  background: var(--blue-color);
  color: var(--white);
  font-size: 0.9rem;
  cursor: pointer;
}

.category-item:hover {
  background-color: var(--blue-color);
  color: var(--white);
}

.video-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 1.5rem;
}

.video-list-section {
  display: flex;
  gap: 1rem;
  row-gap: 2rem;
  flex-wrap: wrap;
}

@media only screen and (max-width: 56em) {
  .video-section {
    width: 100%;
  }
  .category-filter-list {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }
  .category-item {
    height: 3rem;
    text-align: center;
    width: 8rem;
    word-break: break-word;
  }
  .video-list-section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media only screen and (max-width: 38em) {
  .video-section {
    width: 100%;
  }
  .video-list-section {
    display: flex;
  }
}

@media only screen and (max-width: 158em) and (min-width: 90em) {
  .video-section {
    width: 100%;
  }
  .video-list-section {
    display: flex;
    gap: 3rem;
    row-gap: 2.5rem;
    margin-left: 2rem;
  }
}
